{% extends '::base.html.twig' %}
{% block content %}
    <h1>Get userinfo for user id = {{ id }}:</h1>
    {% if user is null or user == "" %}
    This user cannot be found
    {% else %}
    <ul>    
        <li>Email: {{ user.getEmail() }}</li>
        <li>Birthday: {{ user.getBirthday()|date }} </li>
    </ul>
    {% endif %}
{% endblock %}