{# UserBundle/Resources/views/Account/success.html.twig #}
{% extends '::base.html.twig' %}
{% block content %}
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            User {{ usermail }} successfully generated
        </div>
    </div>
{% endblock %}